.section-about{
    width: 100%;
    background-color: #EAA9CB;
    color: #3B3937;
    background-image: url(../resources/images/backgroundAbout.svg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 30px;
}
.section-about h1 {
    color: #3B3937;
    font-family: 'OpenSans-Bold';
    font-size: 48px;
    text-transform: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
.section-about .about-image{
    width: 50%;
    float: left;
}
.section-about .about-image img{
    width: 100%;
}
.section-about .about-description{
    width: 50%;
    float: left;

}
.section-about h2{
    color: #3B3937;
    text-transform: capitalize;
    font-size: 30px;
    font-family: 'OpenSans-Bold';
    text-align: right;
}

.section-about p{
    color: #3B3937;
    font-size: 16px;
    text-align: right;
    font-family: 'OpenSans-Bold';
    line-height: 28px;
}
@media (max-width: 1000px){
    .section-about .about-image,
    .section-about .about-description
    {
        width: 100%;
    }
    .section-about .about-description{
        margin-top: 20px;
    }
    .section-about p,
    .section-about h2{
       
        text-align: center;
    }
}