header{
    position: fixed;
    top: 70px;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 999;
    background-color: #99BFE5;
   
}
.top-header{
    background-image: url('../resources//images/topHeader.svg');
    width: 100%;
    height: 70px;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
    text-align: right;
}
.top-header img{
   width:40px;
   margin-top: 15px;
   margin-right: 20px;
}
.ncentrika-logo{
    width: 150px;
}
.nav-big{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
.nav-big-link{
    cursor: pointer;
    color: #000;
    text-decoration: none !important;
    margin-right: 14px;
    font-family: 'OpenSans-Bold';
    font-size: 15px;
}
.nav-small{
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-around;
    margin: auto;
    height: 40%;
    margin-top: 50px;
    font-size: 16px;
}
.nav-small-link{
    cursor: pointer;
    color: #FFF;
    padding-bottom: 5px;
    margin-left: 10px;
    text-decoration: none !important;
}
.header-inner{
    width: 90%;
    display: flex;
    align-items: center;
    height: 70px;
}
.header-inner .navbar-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 1180px){
    .header-inner{
        width: 98%;
    }
    .header-inner .appoinment-general-button{
        padding: 5px 8px;
        font-size: 12px;
    }
    .nav-big-link{
        font-size: 14px;
    }
}

@media (max-width: 1000px){
    .top-header img{
        display: none;
     }
}