.section-appointment{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--color-cream);
    text-align: center;
}

.section-appointment h1 {
    font-family: var(--font-bold);
    font-size: var(--title-size);
    text-transform: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-appointment ul {
    font-size: 18px;
    color: var(--color-black);
    line-height: 34px;
    text-align: left;
    width: 50%;
    margin: 50px auto 40px auto;
    list-style-type: none;

}
.section-appointment  ul li {
    max-width: 700px;
}
.section-appointment ul li::before {
    color: transparent;
    font-size: 0px;
    content: "";
    margin-right: 10px;
    padding: 10px;
    background-color: orange;
    mask-image: url("../resources/images/star-icon.svg");
    -webkit-mask-image: url("../resources/images/star-icon.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    vertical-align: top;
}
.section-appointment .appointment-description{
    padding: 40px;
}
.section-appointment h2{
    color: var(--color-text);
    text-transform: capitalize;
    font-size: var(--title-size-sm);
    font-family: var(--font-bold);
    text-align: center;
    margin-bottom: 40px;
}
.section-appointment p{
    color: var(--color-text);
    font-size: 18px;
    text-align: center;
    font-family: var(--font-regular);
    line-height: 40px;
}

@media (max-width: 990px){
    .section-appointment .appointment-description{
        padding: 0px;
    }
    .container{
        min-width: 100% !important;
    }
    .section-appointment{
        padding-top: 50px;
    }
    .section-appointment h1 {
        font-size: var(--title-size-sm);
    }
    .section-appointment ul
     {
        width: 100%;
        margin: 20px auto;
        font-size: 16px;
        text-align: left;
        margin-left: 10px;
    }
}
