.section-services{
    /* padding-top: 70px;
    padding-bottom: 70px; */
    background-color: #FFF8F0;
}
.section-services .container{
    background-color: #92D2C7;
    padding-top: 20px;
    padding-bottom: 40px;

}
.conteiner-services{
   width: 100%;
   text-align: center;
 

}
.services-background{
    width: 100%;

}
.conteiner-services h1{
    font-family: 'OpenSans-Bold';
    font-size: 48px;
    text-transform: none;
    margin-bottom: 40px;
    color: #3B3937;

}
.conteiner-services .services-list{
    width: 1140px;
}
.row.justify-content-md-center .col-md-auto > p {
    font-size: 16px;
    max-width: 700px;
    color:#3B3937;
    text-align: left;
    line-height: 30px;
}
.row.justify-content-md-center .col-md-auto > h1 {
    font-size: 18px;
    font-family: 'OpenSans-Bold';
    color:#3B3937;
    text-align: left;
    margin-bottom: 20px;
}
.col-md-auto > div.image-container {
    text-align: right;
    width: 200px;
}
.col-md-auto > div.image-container  >img{
    width: 100px;
}

.show-more-elements {
    background-color: #FFFF;
    color: #000000;
    min-width:150px;
}
  
.hide-services {
    display: none;
}
@media (max-width: 990px){
    .row.justify-content-md-center .col-md-auto > p,
    .row.justify-content-md-center .col-md-auto > h1{
        text-align: left;
    }
    .col-md-auto > div.image-container{
        width: 150px;
    }
    .col-md-auto > div.image-container >img{
        width: 100%;
    }
    .conteiner-services h1{
        font-size: 30px;
        margin-top: 20px;
    }
}