.section-services{
    background-color: var(--color-coral-new);
}
.section-services .container{
    background-color: var(--color-coral-new);
    padding-top: 0;
    padding-bottom: 40px;

}
.conteiner-services{
   width: 100%;
   text-align: center;
}
@media (min-width: 1000px) {
    .section-services {
        background-color: var(--color-white);
    }
    .section-services .conteiner-services {
        max-width: 1140px;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--color-coral-new);
    }
    .section-services .container {
        max-width: 1140px;
        width: 100%;
    }
}
.services-background{
    width: 100%;

}

.conteiner-services h1{
    font-family: var(--font-bold);
    font-size: var(--title-size);
    text-transform: none;
    margin-bottom: 40px;
    color: var(--color-text);
}
.row.justify-content-md-center .col-md-auto > p {
    font-size: 16px;
    max-width: 700px;
    color: var(--color-text);
    text-align: left;
    line-height: 30px;
}
.row.justify-content-md-center .col-md-auto > h1 {
    font-size: 18px;
    font-family: var(--font-bold);
    color: var(--color-text);
    text-align: left;
    margin-bottom: 20px;
}
.col-md-auto > div.image-container {
    text-align: right;
    width: 200px;
}
.col-md-auto > div.image-container  >img{
    width: 100px;
}

.section-services .show-more-elements {
    background-color: var(--color-yellow);
    color: var(--color-text);
    min-width:150px;
}
  
.hide-services {
    display: none;
}
@media (max-width: 1000px){
    
    .row.justify-content-md-center .col-md-auto > p,
    .row.justify-content-md-center .col-md-auto > h1{
        text-align: left;
    }
    .col-md-auto > div.image-container{
        width: 200px;
        margin: 0 auto;
    }
    .col-md-auto > div.image-container >img{
        width: 100%;
    }
    .conteiner-services h1{
        font-size: var(--title-size-sm);
    }
  
}
